.header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  color: black;
  position: relative;
  background-color: rgb(225, 225, 245);
  box-sizing: border-box;
}

.header__title {
  margin: 15px auto 0px;
}